MHCraft/Debug/
MHCraft/Release/
MHCraft/.vs/
MHCraft/UnlimitedRespawnBravers/Debug/
MHCraft/UnlimitedRespawnBravers/Release/
MHCraft/UnlimitedRespawnBravers.VC.opendb
MHCraft/UnlimitedRespawnBravers/Log.txt
*.user
*.sdf
*.suo
